body {
  margin: initial;
  font-family: "Roboto", sans-serif;
}

#dashboard {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  position: relative;
  overflow: hidden;
}

#sidebar-left {
  overflow: hidden scroll;
  scrollbar-width: thin;
  scrollbar-color: #ccc white;
}

#sidebar-left > * {
  box-shadow: none;

  label.MuiFormControlLabel-root:has(> .MuiSwitch-root) {
    margin: 20px 0 0;
    display: flex;
    justify-content: space-between;
  }
}

#legend {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;

  ul {
    list-style: none;
    margin: 16px 0 0;
    padding: initial;
    position: relative;
  }

  li {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }

  .indicator {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    margin-right: 12px;
  }
}

.tooltip {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  .title {
    font-size: large;
    font-weight: bold;
    color: #141414;
  }

  .desc {
    color: #747474;
    line-height: 1.5;
    font-size: 14px;
  }

  .desc > *:first-child {
    margin-bottom: 12px;
    line-height: 1.2;
  }

  .button {
    margin-top: 18px;
    width: 100%;
  }
}

.option-buttons {
  display: flex;
  column-gap: 16px;
}

.option-buttons > * {
  display: flex;
  flex-grow: 1;
  text-transform: capitalize !important;
}

.MuiFormGroup-root.trade-area-checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
